
body{
    box-sizing: border-box;
    height: 100%;
    background-color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
height: auto;
background-color: green;
width: auto;
margin: 3px;
padding: 3px;
text-align: center;
border: 2px solid black ;
 box-sizing: border-box;

}

main{
    height: auto;
    background-color: green;
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

footer{
    height: auto;
    background-color: green;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    

}
#icon{
    margin: 0;
    padding: 10px;
    
}   
